
    @model Vidly.ViewModels.DetailsViewModel
   
@{
    ViewBag.Title = "Details";
}


<div class="list-group-item">

    <ul>
        <li class="list-group-item"><strong>Name:</strong> @Model.CustomerDetail.Name</li>
        @if (@Model.CustomerDetail.BirthDate != null)
        {
            <li class="list-group-item"><strong>Birth Date:</strong> @Model.CustomerDetail.BirthDate.Value.ToShortDateString()</li>
        }
        
        <li class="list-group-item"><strong>Discount:</strong> @Model.CustomerDetail.MembershipType.DiscountRate%</li>
    </ul>

</div>
>


