
    @model Vidly.ViewModels.DetailsViewModel
   
@{
    ViewBag.Title = "Details";
}

@*<h2>@Model.Name</h2>
<h3>@Model.Age</h3>*@
<h2>@Model.CustomerDetail.Name</h2>
<h3>@Model.CustomerDetail.Age</h3>
